/* @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../vendor/livewire/flux/dist/flux.css";

@layer base {
    /* @font-face {
        font-family: "Inter";
        src: url(../../public/fonts/Inter.ttf) format("truetype");
    } */
    html {
        /* Set the default text size */
        font-size: 14px;
    }
    #nprogress .bar {
        @apply !bg-primary z-[2000] !h-1 !rounded-full;
    }
    #nprogress .bar {
        box-shadow:
            0 0 10px #3b82f6,
            0 0 20px #3b82f6 !important;
    }
    #nprogress .peg {
        @apply !bg-primary !hidden !w-full !rotate-0 rounded-full;
    }

    #nprogress .spinner {
        @apply z-[2000];
    }
    #nprogress .spinner .spinner-icon {
        @apply !border-l-primary border-t-primary !h-6 !w-6 !border-4;
    }
    .sortable-chosen button {
        @apply !invisible;
    }
    .sortable-ghost button {
        @apply !invisible;
    }
    .has-border {
        @apply border-0 ring-1 ring-gray-300 ring-inset;
    }
}

@layer components {
    /* Typography */
    .link {
        @apply text-primary cursor-pointer font-medium underline-offset-2 hover:underline focus-visible:outline-offset-4;
    }
    .link-muted {
        @apply !text-muted;
    }
    .host {
        @apply font-bold text-red-500;
    }
    .staff {
        @apply font-bold text-blue-500;
    }

    /* Page Elements */
    .page-padding {
        @apply page-x-padding page-y-padding;
    }
    .-page-padding {
        @apply -page-x-padding -page-y-padding;
    }
    .page-x-padding {
        @apply tablet-lg:px-6 px-4;
    }
    .-page-x-padding {
        @apply tablet-lg:-mx-6 -mx-4;
    }
    .page-y-padding {
        @apply tablet-lg:py-6 py-4;
    }
    .-page-y-padding {
        @apply tablet-lg:-my-6 -my-4;
    }

    .page-container {
        @apply flex-auto flex-col;
    }
    .page-header {
        @apply mb-8 border-b border-gray-300 bg-white;
    }
    .page-title {
        @apply tablet-lg:font-bold text-2xl font-bold text-gray-700;
    }
    .page-desc {
        @apply text-muted mt-2;
    }
    .page-actions > a[data-flux-button] {
        @apply -my-4;
    }
    .page-content {
        @apply flex flex-col space-y-10;
    }
    .page-footer {
        @apply page-padding text-muted bg-gray-200 text-xs;
    }

    /* Cards */
    /* .card-container {
        @apply w-full mx-0 tablet:mx-6;
    } */
    .card {
        @apply has-border tablet:rounded-xl bg-white;
    }
    .card-padding {
        /* @apply px-6 py-8 tablet:px-8; */
        @apply page-padding;
    }
    .card-flex {
        @apply flex flex-col space-y-8;
    }
    /* .card-padding-sm {
        @apply px-6 py-6 tablet:px-8;
    } */
    .card-header {
        @apply flex flex-col space-y-2;
    }
    .card-header span {
        @apply text-primary text-base font-semibold;
    }
    .card-header h1 {
        @apply text-xl font-semibold;
    }
    .card-header p {
        @apply text-muted text-base;
    }

    /* .card-form {
        @apply grid grid-cols-12 gap-4;
    }
    .card-form > div {
        @apply col-span-full;
    }
    .card-buttons {
        @apply flex items-center; // Remove justify-between here
    } */

    /* Forms */
    .form-container {
        @apply mb-10 flex flex-col space-y-10;
    }
    .form-section {
        @apply laptop:grid-cols-3 grid grid-cols-1 gap-x-8 gap-y-4;
    }
    /* .form-section-details {
        @apply flex flex-col justify-center space-y-0 page-x-padding tablet:p-0;
    }
    .form-section-header {
        @apply text-lg font-semibold;
    }
    .form-section-desc {
        @apply text-sm font-normal text-muted;
    } */
    .form-section-content {
        @apply page-padding card card-padding col-span-2;
    }
    .form-buttons {
        @apply mt-4;
    }

    /* For min forms */
    .form-grid {
        @apply grid grid-cols-12 gap-4;
    }
    .form-grid > div {
        @apply col-span-full;
    }
    .form-grid-spacer {
        @apply col-span-full;
    }

    /* Form Elements */
    .form-label {
        @apply block cursor-pointer pb-2 text-base leading-5 font-medium text-gray-800;
    }
    .form-label-error {
        @apply !text-red-500;
    }
    .form-desc {
        @apply text-muted mt-2 block text-xs leading-5;
    }
    .form-desc-error {
        @apply !text-red-500;
    }

    /* Form: input */
    .form-input-container {
        @apply has-border focus-within:!ring-primary flex w-full items-baseline rounded-md bg-gray-100 p-0 px-2.5 py-2 text-lg leading-5 ring-inset focus-within:bg-white focus-within:!shadow-none focus-within:!ring-2 focus-within:!ring-inset hover:shadow hover:ring-1 hover:ring-gray-400/60;
    }
    .form-input {
        @apply placeholder:text-muted-light focus-within:placeholder-muted-lighter w-full border-0 bg-transparent p-0 focus:ring-0 focus:outline-none;
        /* @apply block w-full px-3 py-2 text-lg leading-6 bg-gray-100 border-0 rounded-md has-border ring-inset placeholder:text-muted-light hover:shadow hover:ring-1 hover:ring-gray-400/60 focus:bg-white focus:placeholder-gray-200 focus:ring-2 focus:ring-inset focus:ring-primary tablet:text-base; */
    }
    .form-input-error {
        @apply !ring-2 !ring-red-500;
    }

    /* Form: counter */
    .form-counter {
        @apply form-input focus-within:ring-primary flex overflow-hidden p-0 focus-within:bg-white focus-within:ring-2 focus-within:ring-inset;
    }
    .form-counter input {
        @apply !w-full border-0 bg-transparent focus:ring-0;
    }
    .form-counter-buttons {
        @apply flex p-px;
    }
    .form-counter-buttons button {
        @apply hover:bg-primary hover:ring-primary border-t border-transparent px-2 hover:text-white hover:ring-1;
    }

    /* Form: select */
    .form-select {
        @apply focus-within: form-input;
    }
    .form-select option::disabled {
        @apply text-muted;
    }
    .form-select-error {
        @apply !ring-2 !ring-red-500;
    }

    /* Form: checkbox */
    .form-checkbox-container {
        @apply relative flex cursor-pointer items-start;
    }
    .form-checkbox-container label {
        @apply ml-3 flex flex-col space-y-1;
    }
    .form-checkbox {
        @apply mt-1 h-6 w-6 cursor-pointer rounded-md border border-gray-300 bg-gray-100 ring-0 ring-offset-0;
    }
    .form-checkbox-error {
        @apply block !ring-red-500;
    }

    /* Form: toggle */
    .form-toggle {
        @apply flex items-center justify-between;
    }
    .form-toggle button {
        @apply focus-visible:ring-primary relative ml-4 inline-flex w-14 rounded-full bg-gray-100 py-1 ring-1 ring-gray-300 transition group-hover:ring-2 group-hover:ring-gray-400 focus-visible:ring-2 focus-visible:outline-none;
    }
    .form-toggle-error {
        @apply !ring-2 !ring-red-500;
    }
    .form-toggle span {
        @apply h-5 w-5 rounded-full bg-white ring-1 ring-gray-300 transition-transform;
    }
    .form-toggle-button-active {
        @apply !bg-primary group-hover:!bg-primary-hover group-hover:!ring-0 focus-visible:!ring-black;
    }

    /* Buttons */
    .button {
        @apply bg-primary flex h-[35px] cursor-pointer items-center justify-center rounded-md px-3 py-2 text-center text-base font-medium text-white focus-visible:outline-offset-4;
    }
    .button:disabled {
        @apply bg-opacity-50 cursor-not-allowed;
    }
    .button-gray {
        @apply border border-gray-300 bg-gray-100 text-gray-600 ring-gray-300 hover:bg-gray-100 hover:ring-gray-400;
    }
    .button-link {
        @apply text-primary bg-transparent;
    }
    .button svg {
        @apply mr-2 -ml-1 h-5 w-5;
    }
    .button-wide {
        @apply !px-6;
    }
    .button-full {
        @apply w-full;
    }
    .button-xs {
        @apply px-2.5 py-1.5 !text-xs;
    }
    .button-sm {
        @apply px-3 py-2 !text-sm;
    }
    .button-lg {
        @apply px-3.5 py-2.5 text-base;
    }

    /* Alerts */
    .alert {
        @apply has-border rounded-lg p-4 text-sm;
    }
    .alert-title {
        @apply text-base font-semibold;
    }
    .alert-general {
        @apply bg-gray-100 text-gray-600;
    }
    .alert-type-error {
        @apply bg-red-600/80 text-white ring-red-500;
    }

    /** Uploader **/
    /* .uploader {
        @apply flex flex-col items-center justify-center space-y-4 border-2 border-gray-200 border-dashed cursor-pointer rounded-xl bg-gray-50 text-muted;
    }
    .uploader .icon {
        @apply p-3 m-3 rounded-full bg-gray-200/70 text-primary;
    }
    .uploader-body div {
        @apply text-center;
    }
    .uploader svg {
        @apply w-12 h-12;
    }
    .uploader-body {
        @apply flex flex-col space-y-2;
    }
    .uploader-body span {
        @apply link group-hover:underline;
    } */

    /* .button {
        @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-md px-2.5 py-1.5 font-medium outline-none ring-black focus-visible:ring-2;
    }
    .button-md {
        @apply h-auto !p-1.5 text-sm;
    }
    .button-sm {
        @apply h-auto !px-2 !py-1 text-xs;
    }
    .button-link {
    }
    .button-primary {
        @apply text-white bg-primary hover:bg-primary-hover active:bg-primary-active;
    }
    .button-muted {
        @apply text-gray-800 bg-muted-lighter ring-1 ring-gray-300 hover:bg-gray-300;
    }
    .button-muted-dark {
        @apply text-white bg-gray-900/70 ring-1 ring-gray-700 hover:bg-gray-900;
    }
    .button:disabled {
        @apply opacity-50 cursor-not-allowed hover:bg-primary;
    } */

    .frontend-container {
        @apply max-w-screen-laptop mx-auto flex flex-col space-y-10;
    }
    .frontend-section {
        @apply tablet:p-10 flex flex-col space-y-5;
    }
    .frontend-title {
        @apply text-3xl font-semibold;
    }

    /* Properties */
    .frontend-property-grid {
        @apply tablet:grid-cols-3 grid grid-cols-1 gap-10;
    }
}

@layer utilities {
    [x-cloak] {
        display: none !important;
    }
    .ios-padding {
        padding: env(safe-area-inset-top) env(safe-area-inset-right)
            env(safe-area-inset-bottom) env(safe-area-inset-left);
    }
    .ios-padding-x {
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
    .ios-padding-y {
        padding-top: env();
        padding-bottom: env();
    }
    .ios-padding-t {
        padding-top: env(safe-area-inset-top);
    }
    .ios-padding-r {
        padding-right: env(safe-area-inset-right);
    }
    .ios-padding-b {
        padding-bottom: env(safe-area-inset-bottom);
    }
    .ios-padding-l {
        padding-left: env(safe-area-inset-left);
    }
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    kbd {
        @apply has-border -my-1 rounded-lg bg-gray-200 px-1.5 py-1 font-mono text-[0.9em] tracking-wider text-gray-800 uppercase;
    }

    .container {
        @apply mx-auto max-w-7xl;
    }

    .full-screen {
        height: 100vh;
        /* Fallback for browsers that do not support Custom Properties */
        height: calc(var(--vh, 1vh) * 100);
    }

    .show-mobile {
        @apply laptop:hidden block;
    }
    .hide-mobile {
        @apply laptop:block hidden;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }
    .capitalize input {
        text-transform: capitalize;
    }

    /* Label space */
    /* This is for buttons that need to be next to inputs, but the input have labels */
    .label-space {
        @apply !mt-[31px];
    }
    .color-input > input {
        @apply p-0.5;
    }
}
